label {
  display: block;
}

.navbar{
  margin-bottom: 0;
}
.row {
  &.flash{
    .alert{
      margin-top: 15px;
    }
  }
}
#menu-container{
  menu{
    margin-top: 30px;
    .panel-body{
      padding: 0px;
    }
  }
  .panel-heading{
    background: #ddd;
  }
  menuitem {
    display: block;
    font-weight: normal;
    padding: 5px 20px;
    text-align: right;
    &:hover{
      color: orange;
      background: #eee;
    }
  }
  .panel menuitem{
    border-right: none;
    border-left: none;
    &:first-child{
      border-top:none;
    }
    &:last-child{
      border-bottom:none;
    }
  }
}

a{
  color: inherit;
  &:hover{
    color:orange;
    text-decoration: none;
  }
}                                                                                                         
#main{
  padding-top: 30px;
}

.form-group-lg{
  .control-label{
    font-size: larger;
  }
}

.avatar {
  width: 100%;
  border-radius: 50%;
  background: #eee;
  padding: 50% 0;
  background-size: cover;
  background-position: center;
}
h1,h3{
  &.user-data{
    text-align: center;
  }
}
h3{
  margin-top: 0;
}
.section-heading{
  font-weight: bold;
}
.section-item{
    margin-left: 10px;
}
// -------------------
// badges
// -------------------
.badge-experiencia{
  background-color: blue;
}
.badge-karma{
  background-color: pink;
}
.badge-salut{
  background-color: orange;
}
label{
  text-transform: uppercase;
}